# ----------------------------------------------------
# Git
# ----------------------------------------------------
.git
.gitignore
.github

# ----------------------------------------------------
# IDEs
# ----------------------------------------------------
.vscode
.idea
.vs
*.code-workspace

# ----------------------------------------------------
# Build Output
# ----------------------------------------------------
**/bin
**/obj

# ----------------------------------------------------
# Node
# ----------------------------------------------------
**/node_modules
**/.pnpm-store
**/.npm
dist

# ----------------------------------------------------
# Logs
# ----------------------------------------------------
*.log
logs

# ----------------------------------------------------
# OS
# ----------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------
# Environment Files
# ----------------------------------------------------
.env
.env.*
!.env.example

# ----------------------------------------------------
# Documentation
# ----------------------------------------------------
docs

# ----------------------------------------------------
# Temporary
# ----------------------------------------------------
tmp
temp

Dockerfile
